
.hidden{display:none}
body{font-family:Arial;background:#F6F6F6;color:#010C12;padding:20px}
h1{border-left:10px solid #FFC900;padding-left:10px}
input,textarea{display:block;margin:5px 0;padding:6px;width:300px}
#prod div{margin:4px 0}
table,td,th{border:1px solid #333;border-collapse:collapse;padding:4px}
